body {
	font-family: verdana;
}

form {
	display: flex;
	flex-direction: column;
}

form > * {
	margin: 1rem;
}

nav {
	display: flex;
	justify-content: space-around;
}

img,
#list-image {
	width: 150px;
	border-radius: 5px;
}

img,
#product-image {
	width: 200px;
	border-radius: 5px;
}
