body {
	font-family: verdana;
	margin: 1rem;
}

form {
	display: flex;
	flex-direction: column;
}

form > * {
	margin: 1rem;
}

nav {
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

nav > a {
  color: black;
  font-weight: bold;
  padding: 0.5rem;
  text-decoration: none;
}

nav > a:hover {
  text-shadow: 2px 2px 4px orange;
}


img,
#cover-image {
	width: 150px;
	border-radius: 5px;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.title {
	text-align: center;
}

.orange-text {
  color: orange;
}

