body {
	font-family: verdana;
	margin: 1rem;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

form > * {
	margin: 1rem;
}

nav {
	display: flex;
	justify-content: space-around;
	background-color: #79B379;
}

img,
#list-image {
	width: 150px;
	border-radius: 5px;
}

img,
#product-image {
	width: 200px;
	border-radius: 5px;
}

nav > a {
  color: black;
  font-weight: bold;
  padding: 0.5rem;
  text-decoration: none;
}

nav > a:hover {
  text-shadow: 2px 2px 4px #3ea33e;
}


img,
#cover-image {
	width: 150px;
	border-radius: 5px;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.title {
	text-align: center;
}

.green-text {
  color: #3ea33e
;
}



form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

input,
textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

textarea {
  height: 150px;
}

button {
  background-color: #3ea33e;
  color: white;
  border: none;
  padding: 8px;
  font-size: 16px;
  margin: 8px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  color: black;
}

ul {
	list-style: none;
}

li > a {
  color: black;
  text-decoration: none;
}

li > a:hover {
  text-decoration: underline;
}

.cart {
	list-style: none;
  padding: 0;
  margin: 0;
}

.cart li {
	display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.cart li button {
  background-color: #3ea33e;
  color: white;
  border: none;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px
}

.cart li button:hover {
  color: black;
}

.cart li span {
  margin-right: 10px;
}

.cart li .btn-container {
  display: flex;
}


img {
  width: 300px; /* set the desired width */
  height: 200px; /* set the desired height */
  object-fit: contain; /* maintain aspect ratio without warping */
}

.booklist {
	display: flex;
  flex-wrap: wrap;
}

.booklist li {
  justify-content: space-around;
  flex: 1 0 calc(33.33% - 20px);
 /* border: 1px solid black;
  margin: 1rem;*/
}